@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,500,100");

@import url("http://fonts.googleapis.com/css?family=Lora");

@import "normalize";
@import "vars";
@import "slick-slider";
@import "home";

/* Form */
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.nav {
  display: flex;
  color: white;
  position: absolute;
  top: 2rem;
  left: 3rem;
  z-index: 10;

  @media screen and (max-width: 768px) {
    display: none;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      padding: 0 3rem 0 0;
      font-weight: bold;
    }
  }
}